.admin-panel {
  background-color: white;
  padding: 20px;
  padding-left: 250px;
  border-radius: 10px;
  height: auto;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-panel-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.short-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.short-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
