/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(-250px);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
}

.sidebar-logo .Link {
  color: #fff;
  text-decoration: none;
}

.sidebar-user {
  padding: 20px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.user-info {
  font-size: 16px;
}

.sidebar-links {
  flex-grow: 1;
  padding: 20px;
}

.section-links {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-links:hover,
.section-links.active {
  background-color: #444;
}

.section-links i {
  margin-right: 10px;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.blue {
  color: #007bff;
}

.green {
  color: #28a745;
}

@media (max-width: 778px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}