.resources {
    padding-left: 230px;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .courses-section,
  .books-section {
    flex: 1;
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  
    .courses-section,
    .books-section {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  