.postform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .postform h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .postform-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .postform-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .postform-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  .postform-button:hover {
    background-color: #0056b3;
  }
  
  .bac-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  .bac-button:hover {
    background-color: #c82333;
  }
  
  