/* Home Section */
.home {
  background-color: white;
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-left {
  flex: 1;
  max-width: 500px;
}

.home-heading {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.home-heading span {
  display: block;
}

.home-para {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.get-started-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color: rgb(23, 162, 23);
}

.home-right {
  flex: 1;
  text-align: right;
}

.home-image {
  max-width: 500px;
  margin-left: auto;
}

.home-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    text-align: center;
  }

  .home-left,
  .home-right {
    max-width: 100%;
  }

  .home-right {
    text-align: center;
    margin-top: 40px;
  }
}